.form-wrapper {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    padding-block: 20px;
}

.user-form {
    padding: 20px;
    border: 1px black solid;
    border-radius: 15px;
    min-width: 50vw;

    font-size: 24px;

    @media (max-width: 1200px) {
        font-size: 20px;
    }

    @media (max-width: 900px) {
        font-size: 17px;
    }

    @media (max-width: 700px) {
        font-size: 15px;
    }

    @media (max-width: 580px) {
        font-size: 10px;
    }

    .header {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 900px) {
            padding: 10px;
        }

        @media (max-width: 580px) {
            padding: 5px;
        }

        .form-heading {
            font-size: 40px;

            @media (max-width: 1200px) {
                font-size: 30px;
            }

            @media (max-width: 900px) {
                font-size: 25px;
            }

            @media (max-width: 700px) {
                font-size: 20px;
            }

            @media (max-width: 580px) {
                font-size: 15px;
            }
        }
    }

    .main {
        padding: 20px;

        @media (max-width: 900px) {
            padding: 10px;
        }

        @media (max-width: 580px) {
            padding: 5px;
        }

        display: flex;
        justify-content: center;

        .registration-form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 90%;

            fieldset {
                display: flex;
                flex-direction: column;
                gap: 5px;

            }

            .submit-btn {
                height: 30px;
            }
        }
    }

}